# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
desktop.ini
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Local editor settings
.vscode/
*.user
*.suo

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.pub-cache/
.pub/
/build/
**/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/local.properties

# iOS and macOS generated dependencies
**/Pods/
**/.symlinks/
**/ephemeral/

# Widget Preview related
.widget_preview/
